{% extends 'base.twig' %}

{% block notification %}
{% if flash.info or flash.error %}
<div id="notification">
	{% if flash.info %}<div class="alert-box success">{{ flash.info }}</div>{% endif %}
	{% if flash.error %}
    <div class="alert-box alert">
        {% for error in flash.error %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block js %}
<!-- Core Asset Libraries -->
	<script src="/assets/javascripts/foundation/jquery.min.js" type="text/javascript"></script>  
	<script src="/assets/javascripts/base.js" type="text/javascript"></script>
{% endblock %}